<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3Pistons</title>
</head>
<link rel="stylesheet" href="style.css" />

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                &#9776;
                </button>
                <a href="index.html">3Pistons</a></div>
            <div class="header-links">
                <a href="card.html">Card</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul class="nav-bar">
                <div>
                    <a href="index.html">Helmets</a>
                </div>
                <div>
                    <a href="index.html">Clothing</a>
                </div>
                <div>
                    <a href="index.html">Boots</a>
                </div>
                <div>
                    <a href="index.html">Gloves</a>
                </div>
                <div>
                    <a href="index.html">Ladies</a>
                </div>
                 <div>
                    <a href="index.html">Motocross</a>
                </div>
                <div>
                    <a href="index.html">Accessories</a>
                </div>
                 <div>
                    <a href="index.html">Sale</a>
                </div>
                <div>
                    <a href="index.html">Contact</a>
                </div>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src=/template/images/hjc_rpha11_cruthlow.jpg alt="product">
                            <div class="product-name">
                                <a href="product.html">Helmet</a></div>

                            <div class="product-brand">HJC</div>
                            <div class="product-price">£99.99</div>
                            <div class="product-raiting">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src=/template/images/hjc_rpha11_cruthlow.jpg alt="product">
                            <div class="product-name">
                                <a href="product.html">Helmet</a></div>

                            <div class="product-brand">HJC</div>
                            <div class="product-price">£99.99</div>
                            <div class="product-raiting">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src=/template/images/hjc_rpha11_cruthlow.jpg alt="product">
                            <div class="product-name">
                                <a href="product.html">Helmet</a></div>

                            <div class="product-brand">HJC</div>
                            <div class="product-price">£99.99</div>
                            <div class="product-raiting">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src=/template/images/hjc_rpha11_cruthlow.jpg alt="product">
                            <div class="product-name">
                                <a href="product.html">Helmet</a></div>

                            <div class="product-brand">HJC</div>
                            <div class="product-price">£99.99</div>
                            <div class="product-raiting">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src=/template/images/hjc_rpha11_cruthlow.jpg alt="product">
                            <div class="product-name">
                                <a href="product.html">Helmet</a></div>

                            <div class="product-brand">HJC</div>
                            <div class="product-price">£99.99</div>
                            <div class="product-raiting">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src=/template/images/hjc_rpha11_cruthlow.jpg alt="product">
                            <div class="product-name">
                                <a href="product.html">Helmet</a></div>

                            <div class="product-brand">HJC</div>
                            <div class="product-price">£99.99</div>
                            <div class="product-raiting">4.5 Stars (10 Reviews)</div>
                        </div>
                    </li>
                    </ul>
            </div>

        </main>
        <footer class="footer">
            All right reserved.</footer>
    </div>
    <script>
        function openMenu() {
            document.querySelector(".sidebar").classList.add("open");
            }
        function closeMenu() {
        document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
    
</body>
</html>
